#main .jumbotron{
    height: 78vh;
}
#main .container{
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

#main .image-container{
    position: relative;
    top: 10%;
    transform: translateY(-10%);
}

.image-code {
    color: #6c757d !important;
    font-size: 4rem;
    font-weight: 400;
}

.main-title {
    color: #6c757d !important;
    font-size: 4rem;
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

footer{
    height: 5vh;
}