{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section id = 'main'>
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <div class="col-md-12">
        <h1 class="main-title"><span class="bold">Mini</span>Img</h1>
        <p class="lead">Get your Image everywhere!</p>
      </div>
      <div class="row">
        <div class="col-md-4 offset-4 text-center">
          <form action="" method="post" id="upload_form" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <input class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon03"></input>
              </div>
              <div class="custom-file">
                <input type="file" name="picture" class="custom-file-input" id="id_picture" aria-describedby="inputGroupFileAddon03">
                <label class="custom-file-label" for="id_picture">Choose file</label>
              </div>
            </div>

          </form>
        </div>  
      </div>
    </div>
  </div>
</section>
<script>

$("#upload_form").submit(function() {
  console.log('Checking file size');
  console.log(window.File);
  if (window.File && window.FileReader && window.FileList && window.Blob) {
      var file = $('#id_{{ form.upload_field_name }}')[0].files[0];
      if ($('#id_{{ form.upload_field_name }}')[0].files.length === 0){
        alert("File " + file.name + "please select a picture!");
        return false;
      }
      if (file && file.size > {{ form.max_upload_limit }} ) {
        alert("File " + file.name + " must be < {{ form.max_upload_limit_text }}");
        return false;
      }
  }
});
</script>
{% endblock %}
